body {
    height: 100vh;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("../image/anime.png");
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
header, footer {
    height: 10vh;
    background-color: #333;
    color: #fff;
    padding: 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 25px #000000;
}
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1,h2,h3{
    margin: 0;
}
.container a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}
.container a:hover {
    box-shadow: rgba(255, 166, 0, 0.5) 0 1px 30px;
    transition-duration: .1s;
    background-color: #ffa600; 
    color: #000000;
}
form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 850px;
    padding: 5px 20px 20px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
form label {
    font-weight: bold;
    display: block;
}
form input[type="text"], form textarea, form input[type="password"], form input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
form input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button {
    background-color: #ffa600;  
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    font-size: 16px;
    height: 3rem;
    padding: 0 1.6rem;
    text-align: center;
    transition: all .5s;
    touch-action: manipulation;

}
button:hover {
    box-shadow: rgba(255, 166, 0, 0.5) 0 1px 30px;
    transition-duration: .1s;
}
.login-container {
    background-color: #fff;
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    text-align: center;
    color: #333;
}
.login-container label {
    font-weight: bold;
    display: block;
}
.login-container p {
    color: red;
    text-align: center;
}
.background {
    background-color: #fff;
    max-width: 850px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
div.afficher_article:hover{
    border: 3px dashed #ffa600;
    box-shadow: rgba(255, 166, 0) 0 1px 100px;
    max-width: 900px;
}
#recherche{
    width: 30%;
}
.afficher_article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.afficher_article h1{ /*titre*/
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}
.afficher_article p:nth-of-type(1){   /*date*/
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 0%;
    margin-left: 1%;
    color: rgb(120, 120, 122);
}
.afficher_article p:nth-of-type(2){ /*contenu*/
    grid-column: 1 / 3;
    grid-row: 3;
    font-size: 20px;
    text-align: center;
}
.afficher_article p:nth-of-type(3){ /*pseudo*/
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}
.afficher_article a{ 
    grid-column: 1/3;
    grid-row: 1/4;
    color:#000000;
    text-decoration: none;
}
.afficher_article form.supprimer_fav, .afficher_article form.suppr_article{ /*button supp favoris*/
    grid-column: 2/3;
    grid-row: 5/6;
    margin: 0%;
    padding: 0px
}
#article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto auto auto auto;
}
#article h1{
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}
#article p:nth-of-type(1){ /*pseudo*/
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;
}
#article p:nth-of-type(2){ /*date*/
    grid-column: 1/2;
    grid-row: 2/3;  
    color: rgb(120, 120, 122);
}
#article p:nth-of-type(3){ /*contenu*/
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
}
#article form.supprimer_article{
    grid-column: 2/3;
    grid-row: 4/5;
}
#article form#ajouter_favoris{
    grid-column: 1/2;
    grid-row: 4/5;
}
#article form, .afficher_com form, .afficher_article form{
    text-align: right;
    box-shadow: none;
}
.afficher_com{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto auto auto auto;
    margin-left: 10%;
    margin-right: 10%;
}
.afficher_com h3{ /*pseudo*/
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: 10%;
}
.afficher_com p:nth-of-type(1){ /*date*/
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 16px;
    margin-left: 20%; 
    margin-top: 0%;
    margin-bottom: 0%;
    color: rgb(120, 120, 122);
}
.afficher_com p:nth-of-type(2){ /*contenu*/
    grid-column: 1/3;
    grid-row: 3/4;
    margin-left: 15%;   
}
.afficher_com form{ /*boutton supp*/
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 0%;
    padding: 0px
}
.erreur{
    color:red;
    font-weight: bold;
}
.checkbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boutton_crud{
    width: 30%;
}
